/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  color: white;
}

#header {
  font-family: 'source_sans_proregular', Tahoma, "DejaVu Sans", sans-serif;
  background: url('../../images/dark_gray_bg.png') repeat-x;
  height: 7em;
  font-weight:bold;
  text-transform:uppercase;
}

#header .logohighlight {
  color: #74a1cb;
}

#logoblock {
  margin-top: 2em; 
  margin-left: 1em;
}

#devconflogo {
  font-size: 2em;
}

#devconfslogan {
  color: #858583;
}

#block-locale-language {
  float: right;
  margin-top: -5em;
}

#block-locale-language a {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.locale-untranslated {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

#cfp-banner
{
    background: none repeat scroll 0 0 rgba(116, 161, 203, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) inset, 0 6px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) inset, 0 6px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) inset, 0 6px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: rgba(255,255,255,0.7);
}

#cfp-banner a
{
    color:white;
}

#cfp-banner a:hover
{
    text-decoration:underline;
}

#countdown_timer {
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 16em;
}

.countdown_section {
  float: left;
  margin-left: 1em;
}

/*Main Menu responsive area*/

@media (max-width: 768px) {
  #block-nice-menus-1 { display: none; }
  #jump_menu { display: inline-block; }
}

@media (min-width: 800px) {
  #block-nice-menus-1 { float: right; margin-top: -2.5em; }
  #jump_menu { display: none; }
}

@media (min-width: 800px)
and (max-width: 960px) 
{
  #block-nice-menus-1 { float: right; margin-right: 10em; margin-top: -2.5em; }
  #jump_menu { display: none; }
}


/*#block-nice-menus-1 {
  float: right;
  margin-right: 21em;
  margin-top: -2.5em;
}*/

#main_conf_hook {
  text-align: center;
  width: 43em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

#main_speakers_block {
  margin-bottom: 15em;
}

#main_speakers_header {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  border-bottom: 2px solid #74a1cb;
  margin-bottom: 2em;
}

#main_speakers {
  width: 48em;
  margin-left: auto;
  margin-right: auto;
}

#speakers_title {
  font-size: 2em;
}

#speakers_all {
  size: 1.5em;
  float: right;
}

#speakers_all a:link {
  color: white;
  text-decoration: none;
}

#speakers_all a:visited {
  color: white;
  text-decoration: none;
}

#main_news_block {
  clear: both;
}

#main_news_block_header {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  border-bottom: 2px solid #74a1cb;
  margin-bottom: 2em;
}

#news_title {
  font-size: 2em;
}

#news_all {
  size: 1.5em;
  float: right;
}

#news_all a:link {
  color: white;
  text-decoration: none;
}

#news_all a:visited {
  color: white;
  text-decoration: none;
}

.post_date {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 1.25em;
}

.view-main-page-news .views-field-title, .view-main-page-news-czech .views-field-title {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 1.25em;
}

/*Main Page Speaker View Styling*/

.view-main-page-speakers, .view-main-page-speakers-czech {
  margin-top: 2em;
}

.view-main-page-speakers .views-row, .view-main-page-speakers-czech .views-row  {
  float: left;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.view-main-page-speakers .views-field-title, .view-main-page-speakers-czech .views-field-title {
  margin-top: -2.5em;
}

.view-main-page-speakers .views-field-title a, .view-main-page-speakers-czech .views-field-title a {
/*  padding-left: 0.5em;
  padding-right: 0.25em;*/
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 1.1em;
}

/*Speaker Content Type Node Styling*/
#left_curly {
  float: left;
  font-size: 14em;
  margin-top: 0.5em;
  color: #74a1cb;
}

#right_curly {
  float: left;
  font-size: 14em;
  margin-top: 0.5em;
  color: #74a1cb;
}

.field-name-field-speaker-image {
  float: left;
  margin-top: 2.9em;
  margin-left: 1em;
  margin-right: 1em;
}

.field-name-field-speaker-bio {
  float: left;
  margin-top: 1em;
}

.field-name-field-speaker-related-links {
  float: left;
}

/*Footer Styling*/

#footer {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  background: url('../../images/dark_gray_bg.png') repeat-x;
  height: 7em;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-left: 2em;
}

#organized_by {

}

#footer_logos {
  float: left;
  margin-left: 1em;
}

.footer_logo {
  height: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#social_media {
  float: right;
}

.sm_icon {
  margin-right: 0.5em;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* Containers for grid items and flow items. */
.content-wrapper
{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: 3em;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: relative;
    top: 0;
    height: 3em;
    width: 100%;
  }
}

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 2 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in 3rd column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 2 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /* Start a new row and span all 3 columns. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }

  /* Apply the shared properties of grid items in a single, efficient ruleset. */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/path/to/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* Span 1 column, starting in the 1st column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* Span 1 column, starting in the 2nd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }

  /* Span 1 column, starting in the 3rd column from left. */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  /**
   * The layout when there is only one sidebar, the left one.
   */

  /* Span 4 columns, starting in 2nd column from left. */
  .sidebar-first #content {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */

  /* Span 4 columns, starting in 1st column from left. */
  .sidebar-second #content {
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */

  /* Span 3 columns, starting in 2nd column from left. */
  .two-sidebars #content {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }

  /* Span 1 column, starting in 1st column from left. */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /* Span 1 column, starting in 5th column from left. */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}

#site-slogan {
 font-size: 75%;
 color: gray;
}
