.large_header {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 2em;
}

.normal_header {
  font-family: 'code_boldregular', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 1em;
}
