.large_header {
  font-family: 'source_code_prolight', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
}

.normal_header {
  font-family: 'source_code_prolight', Tahoma, "DejaVu Sans", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
